  <h1>Doggo Play Date App</h1>

  <p class="welcome">Welcome to the Doggo Play Date App! To start planning some waggin' tail fun with other dog familes, either Login or Signup above!</p>

  <div class="img">
    <%= image_tag 'dogpark.jpg' %>
  </div>
