<h1>Welcome to the Doggo Play Date App!</h1>

<p>To start planning some waggin' tail fun with other dog familes, either Login or Signup below!</p>
<p>
    <%= link_to "Login", login_path %>
        OR
    <%= link_to "Signup", signup_path %>
</p>


