  <h1>Doggo Playdate App</h1>

  <p class="welcome">Welcome to the Doggo Playdate App! To start planning some waggin' tail fun with other dog familes, either Login or Signup above!</p>

  <div class="img">
    <%= image_tag 'dogpark.jpg' %>
  </div>
