<h1>Update Playdate!</h1>
<%= render 'form'%>
<br>
<%= link_to "Delete Playdate", park_playdate_path(@park, @playdate), method: :delete, data: { confirm: "Are you sure you want to delete this playdate?" } %><br>



