<h1>Date of Playdate: <%= @playdate.date.strftime("%F") %></h1>
<h1>Time of Playdate: <%= @playdate.time.strftime("%r") %></h1>

<h3>Creator of this Playdate: <%= @playdate.user.username %>, with a family size of: <%= @playdate.user.family_size %> </h3>

