/* Header Styles */

#nav {
  position: absolute;
  left: 0px;
  height: 40px;
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
}
#nav ul {
  margin: 0;
  padding: 0;
}
#nav ul li {
  margin: 0;
  padding: 0;
  float:left;
}
#nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: #FFF;
  text-align: center;
}

#nav ul li a:hover {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: rgb(35, 223, 60); 
  background-color: #111;
  text-align: center;
}

/* Body Styles */
body {
  font-family: "Arial", Helvetica, sans-serif;
}

div.container {
  display: flex;
  justify-content:center;
  align-items:center;
  padding-top: 40px;
  text-align: center;
}

div.container a:link, div.container a:visited {
  color: rgb(8, 119, 36);
  background-color: transparent;
  text-decoration: none;
}

div.container a:hover {
  color: rgb(35, 223, 60); 
  background-color: transparent;
  text-decoration: none;
}

div.container h1 {
  text-align: center;
}

div.container table {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  border: 2px solid black;
}

div.container td, th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid black;
}

div.new-form-left {
  text-align: left;
}